@font-face {
    font-family: 'Pokemon Hollow';
    src: url('../webfonts/pokemonhollow-webfont.woff') format('woff2'),
         url('../webfonts/pokemonhollow-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Pokemon Solid';
    src: url('../webfonts/pokemon_solid-webfont.woff2') format('woff2'),
         url('../webfonts/pokemon_solid-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
    overflow-x: hidden;
    font-family: 'Poppins' !important;
    /* background: url(../media/secondary-bg.png) no-repeat center;
    background-size: cover; */
}
img{
    max-width: 100%;
}
p{
    margin: 0;
}
header{
    display: flex;
    align-items: center;
    background-color: #101c31; 
    min-height: 6.5rem;
}
nav li{
    font-size: 1.15rem;
}
#logo-img{
    width: 100px;
}
#hamburger{
    display: none;
}
#my-nav{
    transition: 0.5s;
}
.user-img-container{
    display: none;
}

.cart:hover > .cart-drop{
    display: block;
}
.cart-drop{
    display: none;
    background-color: rgba(0, 0, 0, 0.2);
    transition: 0.2s;
    position: absolute;
    margin-left: 1rem;
    width: max-content;
    z-index: 2;
}
.cart-drop a{
    text-decoration: none;
}
.nav-link:hover,
.cart-drop a:hover{
    text-decoration: underline;
}
#sign-in-btn{
    background-color: #3B4CCA ;
}
@media (max-width: 576px) {
    #profile-nav{
        display: none;
    }
    #hamburger{
        display: block;
        font-size: 1.75rem;
        cursor: pointer;
        margin-right: .5rem;
        color: #1a68a8;
    }
    #sign-in-btn{
        color: rgb(255, 209, 5) !important;
        font-weight: 600;
        background-color: transparent;
    }
    #my-nav{
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
        display: block;
        position: absolute;
        /* right: -75%; */
        opacity: 0;
        pointer-events: none;
        right: 0;
        top: 0;
        min-height: 100dvh;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        width: 50%;
        z-index: 10;
    }
    .user-img-container{
        padding-top: 1.25rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    nav li{
        margin-top: 1rem;
    }
    #username{
        text-align: center;
        color: #ffffffa8;
    }
    .cart-drop{
        display: block;
        position: relative;
        margin: 0;
        background-color: transparent;
        width: 100%;
    }
    .cart-drop li + li{
        margin-top: 2rem;
    }
    .main-contents{
        border-radius: 0px !important;
        box-shadow: none !important;
    }
}

/* --------------------------------------------------------------- */

#payment-title{
    font-family: 'Pokemon Hollow';
    font-size: 5rem;
    background: linear-gradient(to bottom, #269f98 40%, #fbc908, #269f98);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    pointer-events: none;
}

main{
    /* background-color: #101c31;  */
    background: linear-gradient(to bottom, #101c31, #10091d);
    color: white;
    min-height: calc(100dvh - 6.5rem);
}
.payment{
    background: #79b5d0;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 2rem;
    flex-direction: column;
    cursor: pointer;
    transition: .15s;
}
.payment-active{
    border: 5px solid #eee;
}
#paypal{
    width: 200px;
}
#master-card{
    width: 200px;
}
#visa{
    width: 180px;
}

.form-label{
    opacity: .5 !important;
    margin-top: .5rem;
}

.return-btn{
    text-decoration: none;
}
.return-btn:hover{
    opacity: .85;
}
.proceed-btn{
    padding: .5rem 2rem;
    border: none;
    outline: none;
    border-radius: 20px;
    background-color: #3B4CCA ;
}
.proceed-btn:hover{
    opacity: .85;
}

@media (max-width: 576px) {
    #payment-title{
        font-size: 3.5rem;
    }
}











.footer{
    background-color: #cce5ff ;
    font-family: 'Poppins';
}
.niantic-logo,
.mighty-mouse{
    display: flex;
}
.niantic-logo img{
    width: 250px;
}
.mighty-mouse img{
    width: 150px;
}

.social-media i{
    font-size: 2rem;
    cursor: pointer
}
.social-media i:hover{
    transform: scale(1.105);
}

.policies{
    border-bottom: 2px solid;
    padding-bottom: 1rem;
}
.policies li{
    list-style-type: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}
.policies li:hover{
    text-decoration: underline;
}

.copyright p{
    text-align: center;
    font-weight: 600;
}

@media (max-width: 992px){
    .social-media i{
        font-size: 1.25rem;
    }
    
}

.one-fade{
    animation: fadeFromLeft .75s forwards 0s;
}
.two-fade{
    animation: fadeFromLeft .75s forwards .05s;
}
.three-fade{
    animation: fadeFromLeft .75s forwards .1s;
}
.four-fade{
    animation: fadeFromLeft .75s forwards .15s;
}
.five-fade{
    animation: fadeFromLeft .75s forwards .2s;
}

.fade-in{
    opacity: 0;
}

.fade-from-left.reveals{
    animation: fadeFromLeft .75s forwards;
}

.fade-from-right.reveals{
    animation: fadeFromRight .75s forwards;
}

@keyframes fadeFromLeft {
    from{
        opacity: 0;
        transform: translateX(-30px);
    } to{
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fadeFromRight {
    from{
        opacity: 0;
        transform: translateX(30px);
    } to{
        opacity: 1;
        transform: translateX(0px);
    }
}